<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.johnxb.bbs.dao.mapper.AuthUserMapper">
    <resultMap id="BaseResultMap" type="com.johnxb.bbs.entity.AuthUser">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="mail" column="mail"/>
        <result property="password" column="password"/>
        <result property="avatar" column="avatar"/>
        <result property="registerAt" column="register_at"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="currentToken" column="current_token"/>
        <result property="username" column="username"/>
        <collection property="roles" column="id" select="findRoleByUserId"/>
    </resultMap>

    <select id="selectByUsername" resultMap="BaseResultMap">
        select id,nickname,avatar,gender,current_token,username
        FROM auth_user
        where username = #{username}
    </select>

    <select id="findRoleByUserId" resultType="java.lang.String">
        select ar.role_code
        FROM auth_role ar
        LEFT join auth_user_roles aur ON aur.role_id = ar.id
        WHERE aur.user_id = #{id}
    </select>

    <select id="selectByLogin" resultMap="BaseResultMap" parameterType="com.johnxb.bbs.entity.AuthUser">
        SELECT nickname,current_token,avatar,password,au.id,username
        FROM auth_user au
        LEFT JOIN auth_user_roles aur ON au.id = aur.user_id
        WHERE au.username = #{username} AND  aur.role_id = 1
    </select>
    <!--管理员登陆-->
    <select id="selectByAdminLogin" resultMap="BaseResultMap" parameterType="com.johnxb.bbs.entity.AuthUser">
        SELECT nickname,current_token,avatar,password,au.id,username
        FROM auth_user au
        LEFT JOIN auth_user_roles aur ON au.id = aur.user_id
        --    验证是否是管理员角色
        WHERE au.username = #{username} AND  (aur.role_id = 2 or aur.role_id = 3)
    </select>
    <update id="refreshToken" parameterType="com.johnxb.bbs.entity.AuthUser">
        update auth_user
        set current_token = #{currentToken}
        WHERE id = #{id}
    </update>
    <insert id="register" parameterType="com.johnxb.bbs.entity.AuthUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into auth_user(username,password,mail,phone,register_at,current_token,gender,nickname)
        VALUES (#{username},#{password},#{mail},#{phone},CURRENT_TIMESTAMP ,#{currentToken},#{gender},#{username})
    </insert>
    <!--获取密码用于验证修改密码-->
    <select id="getPass" resultType="java.lang.String">
        SELECT password
        FROM auth_user
        WHERE username = #{username}
    </select>
    <!--修改密码-->
    <update id="changePass">
        update auth_user
        set password = #{newPass}
        WHERE username = #{username}
    </update>
    <!--&lt;!&ndash;检查用户名是否重复&ndash;&gt;-->
    <!--<select id="checkUsername" resultType="java.lang.Integer">-->
    <!--SELECT count(id)-->
    <!--FROM auth_user-->
    <!--WHERE username = #{username}-->
    <!--</select>-->
    <select id="searchByQuery" resultMap="BaseResultMap">
        SELECT id,username,avater
        FROM  auth_user
        WHERE username like concat('%',#{query},'%')
    </select>
</mapper>