<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.johnxb.bbs.dao.mapper.BbsCommentMapper">
    <resultMap id="BaseResultMap" type="com.johnxb.bbs.entity.BbsComment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="like_num" jdbcType="INTEGER" property="likeNum"/>
        <result column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="to_user_id" jdbcType="INTEGER" property="toUserId"/>
        <result column="floor" jdbcType="INTEGER" property="floor"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>


    <resultMap id="ArticleInfoMap" type="com.johnxb.bbs.entity.BbsComment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="like_num" jdbcType="INTEGER" property="likeNum"/>
        <result column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="floor" jdbcType="INTEGER" property="floor"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" property="username"/>
        <result column="to_username" property="toUsername"/>
        <collection property="comment_num" column="id" select="findSonByParentId"/>
    </resultMap>
    <!--文章信息之一级评论集合，升序（1楼在前）-->
    <select id="findCommentsByArticleId" resultMap="ArticleInfoMap">
      SELECT bc.id,bc.created_at,bc.like_num,bc.floor,bc.content,
      au.username as username,
      au.id as user_id
      FROM bbs_comment bc
      LEFT JOIN auth_user au ON bc.user_id = au.id
      WHERE #{articleId} = article_id
      AND parent_id = 0 AND to_user_id is NULL
      order BY created_at asc
    </select>
    <!--一级评论子评论（初始查看文章初始化）-->
    <select id="findSonByParentId" resultType="java.lang.Integer">
      SELECT count(bc.id)
      FROM bbs_comment bc
      WHERE #{id} = parent_id
    </select>

    <insert id="createComment">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert INTO bbs_comment(user_id,content,to_user_id,parent_id,article_id,floor)
        VALUES (#{userId},#{comment.content},#{comment.toUserId},#{comment.parentId},#{comment.articleId},1)
    </insert>

    <select id="getArticleUser" resultType="java.lang.Integer">
        SELECT ba.user_id
        FROM bbs_comment bc
        LEFT JOIN bbs_article ba on ba.id = bc.article_id
        WHERE bc.id = #{commentId}
    </select>
    <!--删除评论的两种方式-->
    <delete id="deleteByUser">
        DELETE FROM bbs_comment
        WHERE user_id = #{userId} and id = #{commentId}
    </delete>
    <delete id="deleteByAuthor">
        DELETE FROM bbs_comment
        WHERE id = #{commentId}
    </delete>
    <!--<select id="findCommentsByParentId" resultMap="ArticleInfoMap">-->
    <!--SELECT bc.id,bc.created_at,bc.like_num,bc.floor,bc.content,-->
    <!--au.username as username,-->
    <!--toau.username as to_username,-->
    <!--au.id as user_id-->
    <!--FROM bbs_comment bc-->
    <!--LEFT JOIN auth_user au ON bc.user_id = au.id-->
    <!--LEFT JOIN auth_user toau on toau.id = bc.to_user_id-->
    <!--WHERE #{id} = parent_id-->
    <!--</select>-->
</mapper>